* {
  margin: 0;
  padding: 0;
}
body {
  background: #232323;
  padding: 10px;
}
#wrap {
  display: flex;
  width: 86vw;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  flex-wrap: wrap;
  background: #232323;
  justify-content: space-between;
}

.title{
  width: 100%;
  height: 100px;
  background: #4add69;
  margin-bottom: 10px;
}

.instructions{
  width: 100%;
  height: 100px;
  background: #d56c6c;
  margin-bottom: 10px;
}

.player1, .player2, .score-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  height: 400px;
  margin-bottom: 10px;
}

.player1, .player2{
  width: 35%;
  background: lightblue;
}

.score-board{
  background: white;
  width: 25%;
}

.footer{
  width: 100%;
  height: 150px;
  background: #d56c6c;
  margin-bottom: 10px;
}

